output/
pred/
profiling_results.txt
profiling_sliding.txt
profiling.txt
profiling_output.txt
plots/
memory_profile_output.txt
profiling_output.txt
TEST.zip
tpt_profile.prof
train_net.py.lprof
results.py
results.txt
cub_analyze.ipynb
eval_new.sh
catseg_eval.sh
catseg_inference.sh
evaluation_output.txt
run.sh
__pycache__/
*.pyc
*.pyo
